{# src/Ideup/ProjectBundle/Resources/views/Project/project.html.twig #}
{% extends 'IdeupProjectBundle::base.html.twig' %}

{% block title %} Proyecto {{ project.nombre }} {% endblock%}

{% block body %}
    <header>
        <h1> ID: {{ project.id }} - {{ project.nombre }}</h1>
		<ul>
			<li>Cordinador: {{ project.cordinador }}</li>
			<li>Horas: {{ project.horas }}</li>
			<li>Precio/hora: {{ project.precioHora  }}</li>
		</ul>
    </header>
	<h3> Anotaciones </h3>
	<ul>
	{% for m in task %}
		<li>{{ m }}</li>
	{% endfor %}
	</ul>
	<p> Envíe una nueva anotación para este projecto</p>
    <form action="{{ path('IdeupProjectBundle_addTask') }}" method="post" {{ form_enctype(form) }} >
        {{ form_errors(form) }}
        
		{{ form_row(form.project) }}
        {{ form_row(form.developer) }}
        {{ form_row(form.horas) }}
        {{ form_row(form.descripcion) }}

        {{ form_rest(form) }}

        <input type="submit" value="Submit" />
    </form>
{% endblock %}
